<!DOCTYPE html>
<html>

  <head>
      <title>Sobre Nós</title>
      <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
      <link>
      <!-- Boostrap-->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
      <!-- Us -->
      <link rel="stylesheet" href="styles/about.css">

  </head>

  <body>
      <%- include('./partials/header') %>

        <div style="height: 100px;"></div>
    <div class="content">
    <p>Placeholder.</p>
    </div>

      <%- include('./partials/footer') %>
  </body>
</html>