<!DOCTYPE html>
<html>
<head>
  <title>Perfil</title>
  <!-- Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="
  sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.min.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/perfil.css">

</head>

<body>
  <div class="container-fluid p-0">
    <%- include('./partials/header') %>

    <div class="background-image"></div> Elemento para a imagem de fundo

    <div class="conteudo">
        <div class="perfil">
            <div class="perfil_foto">
                <img class="fotor" src="https://www.sindpass.com.br/v.01/components/assets/img/login_avatar.png" alt="¨-¨">
            </div>
            <div class="perfil_importante">
                <div class="field">Seu nome de usuário:
                    <p class="data-user"></p>
                </div>
                <div class="field">Idade:
                    <p class="data-idade"></p>
                </div>
                <div class="field">Clima:
                    <p class="data-clima"></p>
                </div>
                <div class="field">Espaço:
                    <p class="data-espaco"></p>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-rounded edit-data">Editar dados</button>
                 <button class="btn btn-primary btn-rounded searchh">AAA</button>
            </div>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>

    <script src="scripts/perfil.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.17.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.17.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.17.2/firebase-auth.js"></script>
</body>

</html>

