<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redefina sua Senha</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/senha.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 formulario">
        <!-- Div com a imagem redonda -->
        <div class="text-center mb-3">
          <div class="circle mx-auto">
            <img src="https://pbs.twimg.com/media/F_Fa_HkWAAAiaoe.jpg" alt="Imagem de perfil">
          </div>
        </div>
        <h2>Digite sua nova senha:</h2>
        <form action="#" method="post">
          <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control" id="pass" placeholder="Digite sua senha" required>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
      </div>
    </div>
  </div>

</body>

</html>