body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  /* Define a largura máxima como o tamanho da viewport */
  overflow-x: hidden;
  /* Esconde a barra de rolagem horizontal */
}

.container-fluid {
  width: 100vw;
  min-height: fit-content;
  /* Alterado para min-height */
  /*background-color: rgb(238, 238, 238);*/
  background-image: url("../login-bg.webp");
  background-size: cover;
  background-position: top;
  position: relative;
  /* Adicionado */
}

.carrossel {
  width: 85%;
  margin-left: 8%;
  margin-top: 150px;
  border-radius: 12px;
}

.carousel-item h5,
p {
  color: black;
}

.carousel-control-prev,
.carousel-control-next {}

/* Custom styles for carousel control icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #000000;
  /* Black */
}

.content {
  margin-top: 100px;
  max-width: 80%;
  margin-left: 10%;
}
/*
.sideRow {
  overflow: auto;
  white-space: nowrap;
  display: flex;
}

.card {
  width: 170px;
  background-color: gray;
  margin: 10px 0px 5px 10px;
  padding: 10px 40px 10px 10px ;
  text-align: center;
}

.card-name {
  width: 80px;
}

.card-img {
  width: 80px;
  border-radius: 12px;
}
*/

.sideRow {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  margin-bottom: 45px;
}

.sideRowHead {
  margin: 10px 0px 2px 10px;
}

.sideRowHead h4 {
  width: fit-content;
  padding: 0px 5px 0px 5px;
  text-align: left;
  margin: 0px;
  background-color: orange;
  border-radius: 2px;
  color: white;
}

.divider {
  height: 2px;
  margin: -1px 0px -3px 0px;
  background-color: orange;
  width: 100%;
}

.card {
  min-width: fit-content;
  min-height: fit-content;
  margin: 10px 0px 5px 10px;
  padding: 10px 40px 10px 10px ;
  text-align: center;
  color:rgb(0, 0, 0);
}

.card-name {
  width: 80px;
}

.card-img {
  width: 200px;
  border-radius: 12px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
